= form_with(model: @micropost, local: true, data: {turbo: false}) do |f|
  = render 'shared/error_messages', object: f.object
  .field
    = f.text_area :content, placeholder: "Compose new micropost..."
  span.image
    = f.file_field :image, accept: "image/jpeg,image/gif,image/png", id: "micropost_image"
  #image-preview-container.image-preview-container style="display:none;"
    img#image-preview.image-preview
    button#remove-image.btn.btn-danger.btn-xs type="button" Remove
  = f.submit "Post", class: "btn btn-primary mt-2"

javascript:
  $(document).ready(function(){
    $("#micropost_image").bind("change", function(){
      const file = this.files[0];
      if (file) {
        const size_in_megabytes = file.size/1024/1024;
        if (size_in_megabytes > 5){
          alert("Maximum file size is 5MB. Please choose a smaller file.");
          $("#micropost_image").val("");
          $("#image-preview-container").hide();
          return;
        }
        
        // Show preview
        const reader = new FileReader();
        reader.onload = function(e) {
          $("#image-preview").attr("src", e.target.result);
          $("#image-preview-container").show();
        }
        reader.readAsDataURL(file);
      }
    });
    
    // Remove image handler
    $("#remove-image").click(function(){
      $("#micropost_image").val("");
      $("#image-preview-container").hide();
      $("#image-preview").attr("src", "");
    });
  });
