input,
textarea,
select,
.uneditable-input {
	border: 1px solid #bbb;
	width: 100%;
	margin-bottom: 15px;
	@include box_sizing;
}

input {
	height: auto !important;
}

textarea {
	resize: vertical;
}

.checkbox {
	margin-top: -10px;
	margin-bottom: 10px;
	span {
		margin-left: 0px;
		font-weight: normal;
	}
}

#session_remember_me {
	width: auto;
	margin-left: -20px;
}

.form-control {
	margin-bottom: 10px;
}

/* Errors */
#error_explanation {
	color: red;
	ul {
		color: red;
		margin: 0 0 30px 0;
	}
}

.field_with_errors {
	@extend .has-error;
	.form-control {
		color: $state-danger-text;
	}
}
