input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="url"],
textarea,
select,
.uneditable-input {
	border: 1px solid #bbb;
	width: 100%;
	margin-bottom: 15px;
	@include box_sizing;
}

input {
	height: auto !important;
}

textarea {
	resize: vertical;
}

.checkbox {
	margin-top: -10px;
	margin-bottom: 10px;
	span {
		margin-left: 0px;
		font-weight: normal;
	}
}

#session_remember_me {
	width: auto;
	margin-left: -20px;
}

.form-control {
	margin-bottom: 10px;
}

#error_explanation {
	color: red;
	ul {
		color: red;
		margin: 0 0 30px 0;
	}
}

.field_with_errors {
	@extend .has-error;
	.form-control {
		color: $state-danger-text;
	}
}

.sidebar-search {
	background-color: #f9f9f9;
	padding: 15px;
	border-radius: 4px;
	border: 1px solid #ddd;
	margin-bottom: 20px;

	h4 {
		margin-top: 0;
		font-size: 14px;
		font-weight: bold;
		text-transform: uppercase;
		color: #555;
		margin-bottom: 10px;
	}

	hr {
		margin: 15px 0;
		border-color: #e0e0e0;
	}
}

.checkbox-list {
	.checkbox {
		margin-top: 5px;
		margin-bottom: 5px;

		label {
			font-size: 13px;
			color: #333;
			padding-left: 20px;
			min-height: 20px;
			display: block;

			input[type="checkbox"] {
				width: auto;
				position: absolute;
				margin-left: -20px;
				margin-top: 2px;
			}
		}
	}
}
