/* Universal */
body {
	padding-top: 60px;
}

section {
	overflow: auto;
}

/* Header */
#logo {
	float: left;
	margin-right: 10px;
	font-size: 1.7em;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: -1px;
	padding-top: 9px;
	font-weight: bold;
	&:hover {
		color: #fff;
		text-decoration: none;
	}
}

/* Footer */
footer {
	margin-top: 45px;
	padding-top: 5px;
	border-top: 1px solid $gray-medium-light;
	color: $gray-light;
	a {
		color: $gray;
		&:hover {
			color: $gray-darker;
		}
	}
	small {
		float: left;
	}
	ul {
		float: right;
		list-style: none;
		li {
			float: left;
			margin-left: 15px;
		}
	}
}

@media (max-width: 800px) {
	footer {
		small {
			display: block;
			float: none;
			margin-bottom: 1em;
		}
		ul {
			float: none;
			padding: 0;
			li {
				float: none;
				margin-left: 0;
			}
		}
	}
}

/* Sidebar */
aside {
	position: relative;
	z-index: 1000;

	section.user_info {
		margin-top: 20px;
	}
	section {
		padding: 10px 0;
		margin-top: 20px;
		&:first-child {
			border: 0;
			padding-top: 0;
		}
		span {
			display: block;
			margin-bottom: 3px;
			line-height: 1;
		}
		h1 {
			font-size: 1.4em;
			text-align: left;
			letter-spacing: -1px;
			margin-bottom: 3px;
			margin-top: 0px;
		}
	}
	textarea {
		height: 100px;
		margin-bottom: 5px;
	}
}

/* Utility */
.debug_dump {
	clear: both;
	float: left;
	width: 100%;
	margin-top: 45px;
	@include box_sizing;
}

.sticky-panel-override {
	.panel.panel-default {
		overflow: visible !important;
		z-index: 1001 !important;
	}
}
