/* Autocomplete Results */
.autocomplete-results {
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	z-index: 9999;
	background: white;
	border-radius: 0 0 4px 4px;

	.list-group-item {
		border-left: 1px solid #ddd;
		border-right: 1px solid #ddd;
		&:first-child {
			border-top-left-radius: 0;
			border-top-right-radius: 0;
		}
		&:hover {
			background-color: #f8f9fa;
			cursor: pointer;
		}
	}
}

mark {
	background-color: #ffeb3b;
	color: #000;
	font-weight: bold;
	padding: 0 3px;
	border-radius: 3px;
	border: 1px solid #e6db55;
}
