.users {
	list-style: none;
	margin: 0;
	li {
		overflow: auto;
		padding: 10px 0;
		border-bottom: 1px solid $gray-lighter;
	}
}

.gravatar {
	float: left;
	margin-right: 10px;
}

.gravatar_edit {
	margin-top: 15px;
}

.user_avatars {
	overflow: auto;
	margin-top: 10px;
	.gravatar {
		margin: 1px 1px;
	}
	a {
		padding: 0;
	}
}

.users.follow {
	padding: 0;
}

.stats {
	overflow: auto;
	margin-top: 0;
	padding: 0;
	a {
		float: left;
		padding: 0 10px;
		border-left: 1px solid $gray-lighter;
		color: gray;
		&:first-child {
			padding-left: 0;
			border: 0;
		}
		&:hover {
			text-decoration: 0;
			color: blue;
		}
	}
	strong {
		display: block;
	}
}

/* Pagination */
.digg_pagination {
	background: white;
	cursor: default;
	a,
	span,
	em {
		padding: 0.2em 0.5em;
		display: block;
		float: left;
		margin-right: 1px;
		.disabled {
			color: #999999;
			border: 1px solid #dddddd;
		}
		.current {
			font-style: normal;
			font-weight: bold;
			background: #2e6ab1;
			color: white;
			border: 1px solid #2e6ab1;
		}
	}
	a {
		text-decoration: none;
		color: #105cb6;
		border: 1px solid #9aafe5;
		&:hover,
		&:focus {
			color: #000033;
			border-color: #000033;
		}
		.page_info {
			background: #2e6ab1;
			color: white;
			padding: 0.4em 0.6em;
			width: 22em;
			margin-bottom: 0.3em;
			text-align: center;
			b {
				color: #000033;
				background: #2e6ab1 + 60;
				padding: 0.1em 0.25em;
			}
		}
	}
	&:after {
		content: ".";
		display: block;
		height: 0;
		clear: both;
		visibility: hidden;
	}
}
