@import "bootstrap-sprockets";
@import "bootstrap";

$gray-medium-light: #eaeaea;

/* mixins, variables, etc. */

@mixin box_sizing {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/*universal */

body{
    padding-top: 60px;
}

section{
    overflow: auto;
}

textarea{
    resize: vertical;
}

.center{
    text-align: center;
    h1{
        margin-bottom: 10px;
    }
}



/* typography */

h1, h2, h3, h4, h5, h6 {
    line-height: 1;
}

h1{
    font-size: 3em;
    letter-spacing: -2px;
    margin-bottom: 30px;
    text-align: center;
}

h2{
    font-size: 1.2em;
    letter-spacing: -1px;
    margin-bottom: 30px;
    text-align: center;
    font-weight: normal;
    color: $gray-light;
}

p{
    font-size: 1.1em;
    line-height: 1.7em;
}

/* header */
#logo{
    float: left;
    margin-right: 10px;
    font-size: 1.7em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: -1px;
    padding-top: 9px;
    font-weight: bold;
    &:hover{
        color: #fff;
        text-decoration: none;
    }
}

/* footer */
footer{
    margin-top: 45px;
    padding-top: 5px;
    border-top: 1px solid $gray-medium-light;
    color: $gray-light;
    a{
        color: $gray;
        &:hover{
            color: $gray-darker;
        }
    }
    small{
        float: left;
    }
    ul{
        float: right;
        list-style: none;
        li{
            float: left;
            margin-left: 15px;
        }
    }
}

@media (max-width: 800px){
    footer {
        small{
            display: block;
            float: none;
            margin-bottom: lem;
        }
        ul{
            float: none;
            padding: 0;
            li{
                float: none;
                margin-left: 0;
            }
        }
    }
}


/* miscellaneous */

.debug_dump {
    clear: both;
    float: left;
    width: 100%;
    margin-top: 45px;
    @include box_sizing;
}

/* sidebar */

aside {
    section.user_info{
        margin-top: 20px;
    }
    section {
        padding: 10px 0;
        margin-top: 20px;
        &:first-child{
            border: 0;
            padding-top: 0;
        }
        span {
            display: block;
            margin-bottom: 3px;
            line-height: 1;
        }
        h1{
            font-size: 1.4em;
            text-align: left;
            letter-spacing: -1px;
            margin-bottom: 3px;
            margin-top: 0px;
        }
    }
}

.gravatar {
    float: left;
    margin-right: 10px;
}

.gravatar_edit{
    margin-top: 15px;
}

.stats{
    overflow: auto;
    margin-top: 0;
    padding: 0;
    a{
        float: left;
        padding: 0 10px;
        border-left: 1px solid $gray-lighter;
        color: gray;
        &:first-child{
            padding-left: 0;
            border: 0;
        }
        &:hover{
            text-decoration: 0;
            color:blue;
        }
    }
    strong{
        display: block;
    }
}

.user_avatars{
    overflow: auto;
    margin-top: 10px;
    .gravatar{
        margin: 1px 1px;
    }
    a{
        padding: 0;
    }
}

.users.follow{
    padding: 0;
}

/* forms */

input, textarea, select, .uneditable-input {
    border: 1px solid #bbb;
    width: 100%;
    margin-bottom: 15px;
    @include box_sizing;
}

input {
    height: auto !important;
}

#error_explanation{
    color:red;
    ul{
        color: red;
        margin: 0 0 30px 0;
    }
}

.field_with_errors{
    @extend .has-error;
    .form-control{
        color: $state-danger-text;
    }
}

.form-control{
    margin-bottom: 10px;
}

.checkbox{
    margin-top: -10px;
    margin-bottom: 10px;
    span{
        margin-left: 0px;
        font-weight: normal;
    }
}

#session_remember_me{
    width: auto;
    margin-left: -20px;
}

/* Users index */

.users{
    list-style: none;
    margin: 0;
    li{
        overflow: auto;
        padding: 10px 0;
        border-bottom: 1px solid $gray-lighter;
    }
}

/* Pagination */
.digg_pagination{
  background: white;
  cursor: default;
  a, span, em{
    padding: 0.2em 0.5em;
    display: block;
    float: left;
    margin-right: 1px;
  .disabled{
    color: #999999;
    border: 1px solid #dddddd;}
  .current{
    font-style: normal;
    font-weight: bold;
    background: #2e6ab1;
    color: white;
    border: 1px solid #2e6ab1;}}
  a{
    text-decoration: none;
    color: #105cb6;
    border: 1px solid #9aafe5;
    &:hover, &:focus{
      color: #000033;
      border-color: #000033;}
  .page_info{
    background: #2e6ab1;
    color: white;
    padding: 0.4em 0.6em;
    width: 22em;
    margin-bottom: 0.3em;
    text-align: center;
    b{
      color: #000033;
      background: #2e6ab1 + 60;
      padding: 0.1em 0.25em;}
    }
}
  /* self-clearing method:*/
  &:after{
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  * html &{
    height: 1%;}
  *:first-child+html &{
    overflow: hidden;}}
}

/* microposts */
.microposts{
    list-style: none;
    padding: 0;
    li{
        padding: 10px 0;
        border-top: 1px solid #e8e8e8;
    }
    .user{
        margin-top: 5em;
        padding-top:0;
    }
    .content{
        display: block;
        margin-left: 60px;
        img{
            display: block;
            padding: 5px 0;
        }
    }
    .timestamp{
        color: $gray-light;
        display: block;
        margin-left: 60px;
    }
    .gravatar{
        float:left;
        margin-right: 10px;
        margin-top:5px;
    }
}

aside{
    textarea{
        height: 100px;
        margin-bottom: 5px;
    }
}

span.image{
    margin-top: 10px;
    input{
        border: 0;
    }
}

/* hashtags */
.hashtags{
    display: block;
    margin-left: 60px;
    margin-top: 5px;
    .hashtag-link{
        color: #1da1f2;
        text-decoration: none;
        margin-right: 8px;
        font-weight: 500;
        &:hover{
            text-decoration: underline;
        }
    }
}

/* search page */
.search-form{
    background: #f5f8fa;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 30px;
    .form-group{
        margin-right: 10px;
        margin-bottom: 10px;
        display: inline-block;
    }
    .control-label{
        margin-right: 5px;
        font-weight: normal;
    }
    .search-input-container{
        position: relative;
        width: 300px;
    }
    .search-input{
        width: 100%;
    }
}

.micropost-search-result{
    padding: 15px;
    border-bottom: 1px solid #e8e8e8;
    background: white;
    &:hover{
        background: #f9f9f9;
    }
    .user-info{
        color: $gray-light;
        font-size: 0.9em;
        margin-bottom: 5px;
    }
    .content{
        margin-bottom: 8px;
        font-size: 1.1em;
        mark{
            background-color: #ffff00;
            padding: 2px;
        }
    }
    .hashtags{
        margin-left: 0;
        margin-bottom: 8px;
    }
    .timestamp{
        margin-left: 0;
    }
}

/* autocomplete dropdown */
.autocomplete-dropdown{
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: white;
    border: 1px solid #ddd;
    border-top: none;
    max-height: 200px;
    overflow-y: auto;
    display: none;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    .autocomplete-item{
        padding: 10px;
        cursor: pointer;
        border-bottom: 1px solid #f0f0f0;
        &:hover{
            background: #f5f8fa;
        }
        &:last-child{
            border-bottom: none;
        }
    }
    &.show{
        display: block;
    }
}

.autocomplete-item.active{
    background: #e8f5fe !important;
}

/* search section on home page */
.search-section{
    background: #f5f8fa;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 20px;
    h4{
        margin-top: 0;
        margin-bottom: 10px;
        font-size: 1.2em;
    }
}

.search-form-inline{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    .form-group{
        margin-bottom: 0;
    }
    .search-input-container{
        position: relative;
        flex: 1;
        min-width: 200px;
    }
    .search-input{
        width: 100%;
    }
    .input-sm{
        width: 150px;
    }
    .btn{
        margin-left: 0;
    }
}

.search-section{
    background: #f5f8fa;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 20px;
    h4{
        margin-top: 0;
        margin-bottom: 10px;
        font-size: 1.2em;
    }
}

.search-form-inline{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    .form-group{
        margin-bottom: 0;
    }
    .search-input-container{
        position: relative;
        flex: 1;
        min-width: 200px;
    }
    .search-input{
        width: 100%;
    }
    .input-sm{
        width: 150px;
    }
    .btn{
        margin-left: 0;
    }
}

.search-form-block{
    .row{
        margin-bottom: 10px;
    }
    .control-label-sm{
        font-size: 0.9em;
        font-weight: 500;
        margin-bottom: 3px;
        display: block;
    }
    .form-group{
        margin-bottom: 10px;
    }
}

/* Image preview */
.image-preview-container{
    margin: 10px 0;
    position: relative;
    display: inline-block;
    .image-preview{
        max-width: 100%;
        max-height: 300px;
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 5px;
        display: block;
    }
    #remove-image{
        margin-top: 5px;
    }
}
