@import "bootstrap-sprockets";
@import "bootstrap";

// Base Configuration
@import "partials/variables";
@import "partials/mixins"; 

// Core Styles
@import "partials/typography";
@import "partials/layout";
@import "partials/forms"; 

// Components
@import "partials/users";
@import "partials/microposts";
@import "partials/search";
@import "partials/notifications";
