= csrf_meta_tags
= csp_meta_tag
= stylesheet_link_tag "tailwind", "data-turbo-track": "reload"
= stylesheet_link_tag "application", "data-turbo-track": "reload"
= javascript_importmap_tags
script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"
